@font-face {
    font-family: "Manrope";
    src: local("Manrope"),
        url("./fonts/Manrope.ttf") format("truetype");
    font-weight: normal;
}
* {
    background-color: #FAFAFA;
}
h1, h2, p, li {
    font-family: "Manrope";
    padding: 5px;
}
.Title {
    font-size: 50px;
    font-weight: bold;
}
#creator {
    font-weight: bold;
    font-style: italic;
}
#dataLbl {
    font-weight: bold;
}
.form-check-input {
    margin-left: 10px;
}
.map-container {
    height: 400px;
  }
.sidebar {
background-color: rgb(35 55 75 / 90%);
color: #fff;
padding: 6px 12px;
font-family: monospace;
z-index: 1;
position: absolute;
top: 0;
left: 0;
margin: 12px;
border-radius: 4px;
    }