@font-face {
    font-family: "Manrope";
    src: local("Manrope"),
        url("./fonts/Manrope.ttf") format("truetype");
    font-weight: normal;
}
* {
    font-family: "Manrope";
}
#creator {
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    padding-bottom: 20px;
}
#dataLbl {
    font-weight: bold;
}
.form-check-input {
    margin-left: 10px;
}
.map-container {
    height: 100vh;
    width: 85vw;
  }
svg {
    background-color: transparent;
}